@use "/public/fonts/iransans/iransans.scss";
@use "/public/fonts/sourGummy/sourGummy.scss";
@use "./scss/_colors";
@use "./scss/_loading";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg-color);
}


* {
  font-family: "IRANSansX", "tahoma";

  // Enable font feature setting 'ss02' for Firefox
  -moz-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for Webkit-based browsers
  -webkit-font-feature-settings: "ss02";

  // Enable font feature setting 'ss02' for other browsers
  font-feature-settings: "ss02";

  scroll-behavior: smooth;

}

.container {
  max-width: 1100px;
  width: 90vw;
  margin: 0 auto;

  @media screen and (max-width:600px) {
    width: 95vw;
  }
}

.title {
  font-weight: 800;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  gap: 10px;
  align-items: center;
}

.ant-timeline-item-content {
  inset-block-start: -2.5px !important;
  margin-inline-start: 20px !important;
}

.ant-timeline-item-tail {
  background-color: var(--text-secondary-color) !important;
}

div {
  &[data-radix-popper-content-wrapper] {
    z-index: 10002 !important;
  }
}
